.login {
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-top: 40px;
  }
  
  .header {
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-top: 40px;
  }
  
  .title {
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-top: 15px;
  }
  
  .edit {
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-top: 15px;
  }
  